mixin ArtistCard(options)
  -
    // Object.assign(預設物件, 傳進來的物件) 
    // 用來合併預設物件值及傳進來的 options 值
    const props = Object.assign({
      name: '',
      img: '',
      size: '', // md, lg
      direction: '', // reverse
      link: '##'
    }, options);

    const classes = [
      props.size ? `--size-${props.size}` : '',
      props.direction ? `--${props.direction}` : '',
    ];

  //- classes.join(' ') => "--size-lg --reverse"
  article.c-artist-card(class=classes.join(' '))
    a.c-artist-card__link(href=props.link)
      h3.u-text-xl.u-fw-900 #{props.name}
      .c-artist-card__img-mask
        img.u-object-fit(src=props.img, alt=`${props.name} 形象照`)
