include ./_Btn.pug

mixin Card(options)
  -
    const props = Object.assign({
      date: '',
      title: '',
      content: '',
      img: '',
      link: '##'
    }, options);

  article.c-card
    span.u-text-lg.c-card__date #{props.date}
    .c-card__wrap
      a.u-img-ratio.c-card__img-mask(href=props.link)
        img.u-object-fit.--abs(src=props.img, alt=props.title)
      .c-card__body
        h3.u-text-md #{props.title}
        p.u-line-clamp-2.c-card__desc #{props.content}

        +Btn({
          href: props.link,
          target: '_blank',
          align: 'right'
        })
    //- block 插槽
    //- .u-flex-center
    //-   iconify-icon.u-icon-md(icon="mingcute:facebook-fill")
    //-   span.u-ml-8 FACEBOOK